@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}

.google-login-button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.button-icon {
  width: 20px;
  height: 20px;
  background-image: url('/googlelogo.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

html body{
  height: 100%;
}
